@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.farma-deal-logo {
    height: 80px;
    width: 90px;
}

.bg-dark {
    background-color: #000000 !important;
}

.custom-navbar .navbar-brand {
    margin-right: auto;
}

.custom-navbar .navbar-nav {
    text-align: center;
}

.nav-link {
    color: white !important;
}

/* Adjust padding for better alignment */
.navbar-nav .nav-link {
    padding-left: 15px;
    padding-right: 15px;
}

/* Responsive adjustments */
@media (max-width: 991.98px) {
    .custom-navbar .navbar-nav {
        margin-top: 10px;
    }
}

@media (max-width: 575.98px) {
    .custom-navbar .navbar-nav {
        flex-direction: column;
        align-items: center;
    }

    .navbar-nav .nav-link {
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 10px;
    }
}

#navItem1,
#navItem2,
#navItem3,
#navItem4 {
    color: white;
    font-family: "Roboto";
}

.video-background-container {
    position: relative;
    width: 100%;
    height: 60vh;
    overflow: hidden;
}

.background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

.content-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.8), rgba(169, 224, 145, 0.8));
    border-radius: 15px;
    padding: 20px;
}

.content-overlay h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.content-overlay p {
    font-size: 1.5rem;
}

@media (max-width: 768px) {
    .content-overlay h1 {
        font-size: 2rem;
    }

    .content-overlay p {
        font-size: 1.2rem;
    }
}

.banner-heading {
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    color: #000; /* Black color for contrast */
}

.banner-caption {
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
    color: #333; /* Dark gray for a softer contrast */
}

.custom-button {
    color: white;
    background-color: Black;
    width: 130px;
    height: 45px;
    border-width: 0;
    border-radius: 8px;
    margin-right: 10px;
    font-family: Roboto;
    font-size: 18px;
}

.custom-outline-button {
    color: black;
    background-color: transparent;
    width: 130px;
    height: 45px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 8px;
    font-weight: 700;
    font-family: Roboto;
    font-size: 18px;
}

.wcu-section {
    background-color: #f9fbfe;
}

.wcu-section-heading {
    font-family: 'Caveat', serif;
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    color: #000; /* Black color for contrast */
}

.wcu-section-description {
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
    color: #333; /* Dark gray for a softer contrast */
}

.wcu-card {
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 10px;
    padding: 20px;
}

.wcu-card-image {
    width: 87px;
    height: 90px;
}

.wcu-card-title {
    color: #323f4b;
    font-family: "Roboto";
    font-size: 1.15rem;
    font-weight: 500;
}

.wcu-card-description {
    color: #7b8794;
    font-family: "Roboto";
    font-size: 16px;
}

.menu-item-card {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    padding: 20px;
}

.menu-image-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-item-image {
    object-fit: cover;
    width: 100%;
    height: 150px; /* Adjust based on the desired image height */
    border-radius: 10px;
}

.menu-card-title {
    font-family: 'Playfair Display';
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    color: #000; /* Black color for contrast */
}

.menu-item-link {
    color: #d0b200;
    font-weight: bold;
    text-decoration: none;
}

.explore-menu-section .row>[class*='col-'] {
    margin-bottom: 20px;
}

.footer {
    background-color: #010407;
    color: #fff;
    padding: 20px 0;
    font-family: Arial, sans-serif;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.footer-column {
    flex: 1 1 250px;
    margin: 20px;
    min-width: 200px;
}

.footer-column h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    border-bottom: 2px solid #338CFF;
    display: inline-block;
}

.footer-column p,
.footer-column ul {
    margin: 10px 0;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 8px;
}

.footer-column ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-column ul li a:hover {
    text-decoration: underline;
}

.footer-logo {
    width: 150px;
    margin-bottom: 15px;
}

.custom-social-btns {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.custom-social-btns .custom-btn {
    display: inline-block;
    background-color: white;
    width: 60px; /* Adjusted for responsiveness */
    height: 60px; /* Adjusted for responsiveness */
    line-height: 60px;
    margin: 5px; /* Adjusted for responsiveness */
    position: relative;
    overflow: hidden;
    border-radius: 30%;
    box-shadow: 0 5px 15px -5px #00000022;
    cursor: pointer;
}

.custom-social-btns .custom-btn ion-icon {
    font-size: 28px; /* Adjusted for responsiveness */
    vertical-align: middle;
    color: var(--custom-color);
}

.custom-social-btns .custom-btn:before {
    content: '';
    position: absolute;
    width: 120%;
    height: 120%;
    background-color: var(--custom-color);
    transform: rotate(45deg);
    top: 90%;
    left: -110%;
    transition: all 0.35s;
    transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
}

.custom-social-btns .custom-btn:focus:before,
.custom-social-btns .custom-btn:hover:before {
    top: -10%;
    left: -10%;
}

.custom-social-btns .custom-btn:hover ion-icon {
    transform: scale(1.1);
    transition: transform 0.2s ease;
}

.custom-btn,
.custom-btn:hover {
    transition: background 0.25s, box-shadow 0.25s;
}

/* Add any additional styles specific to the home page here */
